.jumbotron {
	margin-top: 30px;
	background-image: url("stock-exchange-913956__340.jpg");
	background-size: cover;
	font-family: "Gill Sans", sans-serif;
	color: black;

}

h2 {
	font-family: "Gill Sans", sans-serif;
}
h5 {
	font-family: "Gill Sans", sans-serif;
}